@import "bourbon/bourbon"

.wraper
	width: 100%
	padding: 0 !important
	position: relative
	max-width: 1440px
	.header, .footer
		height: 110px
		background: url("../img/bg-template.jpg")
		@include linear-gradient(to bottom, #1231c7 0%, #1F3BC5 100%)
		width: 100%
		.logo
			padding-left: 11%
			height: 100%
			img
				display: block
				height: 80%
				padding-top: 13px
		.name
			img
				display: block
				width: 100px
				margin: 30px auto 0
			.slogan
				color: #fff
				font: 15px "MuseoSansRegular", sans-serif
				padding-top: 10px
				display: inline-block
				text-align: center
		.phones
			padding-left: 90px
			padding-right: 0%
			img
				position: absolute
				left: 110px
				top: 30px
			ul
				display: block
				margin: 0
				padding: 10px 0 0 20px
				font: 17px "MuseoSansRegular", sans-serif
				padding-top: 17px
				li
					display: block
					margin-top: 5px
					cursor: pointer
					padding: 0
					a
						display: block
						width: 100%
						height: 100%
						color: #fff
			.tele
				float: left
				margin-left: 40px
				&:before
					content: ""
					display: none
					background: url(../img/phone1.png)
					width: 32px
					height: 45px
					margin-left: -67px
					float: left
					margin-top: 16px
			.teleR
				float: left
		.time
			width: 46px 
			img
				position: absolute
				display: block
				height: 46px
				width: 46px
				top: 30px
	.main
		background: url("../img/background.jpg")
		background-position: 0 50%
		height: 589px
		width: 100%
		position: relative
		overflow: hidden
		.chuvak
			background: url("../img/chuvak.png")
			height: 409px
			position: absolute
			top: 135px 
			left: 230px
			width: 275px
		.rec
			background: url(../img/rec.png)
			background-repeat: no-repeat
			width: 80%
			height: 73%
			position: absolute
			top: 5%
			left: 10%
			.desc
				padding-left: 26px
				font: 26px "MuseoSansRegular"
				text-transform: uppercase
				letter-spacing: 1px
				span
					color: #eab53d
			.tezis
				display: block
				margin: 0
				padding: 0
				position: absolute
				left: 53.5%
				li:nth-child(2), li:nth-child(4)
					line-height: 40px
				li
					display: block
					content: ""
					width: 44px
					background: url(../img/sprite.png)
					background-repeat: no-repeat
					height: 38px
					display: block
					width: 80%
					text-transform: uppercase
					padding-left: 10px
					line-height: 20px
					margin-top: 15px
					padding-left: 60px
				li:nth-child(2)
					background-position: 0px -54px
					height: 43px
				li:nth-child(3)
					background-position: 0px -111px
					height: 43px
				li:nth-child(4)
					background-position: 0px -165px
					height: 43px
		.message
			display: block
			margin: 0
			padding: 0
			position: absolute
			left: 53.5%
			bottom: 5%
			input
				width: 90%
				margin-top: 5px
				box-radius: 1px
				border-radius: 5px
				border: 2px solid #afadad
				height: 30px
				line-height: 30px
				text-align: center
				max-width: 410px
				@include placeholder
					text-align: center
					text-transform: uppercase
			button
				margin-top: 5px
				background: #fbcd84
				width: 90%
				box-radius: 1px
				border-radius: 5px
				border: 2px solid #afadad
				height: 30px
				line-height: 27px
				text-transform: uppercase
				max-width: 410px
	.achivments
		width: 100%
		position: relative
		.ach-icons
			height: 157px
			margin-top: -60px
			span
				font: 16px "Arial", sans-serif
				color: #002a4a
				text-align: center
				display: block
				font-weight: bold
	.what-we-do
		width: 100%
		padding-right: 0
		padding-left: 0
		h2
			font: 23px "MuseoRegular", serif 
			background: url("../img/h2bck2.png")
			height: 51px
			line-height: 51px
			text-align: center
			color: #feffff
			font-weight: bold
		.we-can
			width: 90%
			margin: 35px auto 0
			img
				margin: 0 auto 10px
			span
				font: 12px "Arial", sans-serif
				font-weight: bold
				text-align: center
				display: block
	.proff_staff
		background: #1c27a2
		h2
			font: 23px "MuseoRegular", serif 
			height: 51px
			line-height: 51px
			text-align: center
			color: #feffff
			font-weight: bold
		.staffs
			width: 80%
			margin: 0 auto
			.staff
				margin-top: 50px
				margin-bottom: 30px
				img
					display: block
					margin: 0 auto
					height: 129px
				span
					font: 16px "Arial", sans-serif
					color: #fff
					text-align: center
					display: block
					width: 250px
					margin: 0 auto
	.bef-aft
		background: url("../img/bg_med.jpg")
		background-size: cover
		//min-height: 560px
		//@include filter(blur(5px))
		background-color: rgba(0,0,0,.1)
		box-shadow: inset 10000px 560px 100px rgba(0,0,0,.6)
		padding: 0 10%
		.eff
			height: 100%
			margin: 30px auto
			.before
				display: block
				width: 100%
				border: 1px solid #fff
			.after
				display: block
				width: 100%
				border: 1px solid #fff
			.arr
				display: block
				height: 50px
				width: 50px
				background: url("../img/arrow_down.png")
				height: 70px
				width: 55px
				margin: 20px auto
	.clients
		padding: 0 10%
		h2
			font: 34px "MuseoRegular", serif 
			height: 51px
			line-height: 51px
			text-align: center
			color: #000000
			font-weight: bold
			margin-top: 35px
			margin-bottom: 35px
		.our_clients
			padding: 0 25px 0 0
			height: 100%
			overflow: hidden
		.recall
			background: url("../img/bg1111.png")
			background-size: cover
			height: 480px
			overflow: auto
			.recalls
				display: block
				padding: 0
				li:last-child .mess
					border: none
				li
					display: block
					position: relative
					padding-left: 25px
					padding-right: 25px
					padding-top: 25px
					//padding-bottom: 30px
					.name
						font: 14px "MuseoRegular", serif
						color: #fff
						margin-bottom: 15px
						display: block
					.date
						position: absolute
						right: 25px
						top: 25px
						color: #fff
						font: 14px "MuseoRegular", serif
					.mess
						font: 15px "Arial", sans-serif
						font-style: italic
						line-height: 22px
						border-bottom: 1px solid #fff
						padding-bottom: 12px
			.bredcrambs
				display: block
				margin: 0
				padding: 0
				position: absolute
				bottom: 25px
				left: 25px
				li:hover
					background: #1c27a2
					cursor: pointer
				li
					display: block
					font: 16px "MuseoSansRegular", "Arial", sans-serif
					float: left
					height: 36px
					width: 36px
					border: 1px solid #FFF
					text-align: center
					line-height: 36px
					margin-right: 20px
					color: #fff
					a
						display: block
						width: 100%
						height: 100%
						color: #fff
						text-decoration: none
		.leave-recall
			height: 480px
			background: url(../img/leave_bg.png)
			float: right
			margin-right: -25px
			background-size: cover
			h2.lr
				color: #fff
				margin-bottom: 0px
				font-size: 28px
			input, textarea, button
				width: 90%
				display: block
				margin: 15px auto
				height: 45px
				font: 17px "Arial", sans-serif
				line-height: 45px
				padding-left: 10px
			textarea
				height: 150px
			button
				background: #1c27a2
				font: 18px "MuseoSansRegular", sans-serif
				color: #fff
				font-weight: bold 
		.book
			width: 80%
			margin: 40px auto
			.book_b
				img
					display: block
					margin: 0 auto
					padding-left: 27px
					//width: 600px
			.arr_up img, .arr_down img
				display: block
				margin-top: 30px
			.arr_up img
				margin-left: 15px
			.arr_down img
				margin-left: -40px
	.how_do_we_work
		padding-left: 0
		padding-right: 0
		width: 100%
		h2
			font: 23px "MuseoRegular", serif 
			background: url("../img/h2bck2.png")
			height: 51px
			line-height: 51px
			text-align: center
			color: #feffff
			font-weight: bold
		.proc
			display: block
			padding: 0
			width: 80%
			margin: 0 auto
			overflow: hidden
			li:last-child:after
				display: none
			li:nth-child(1) img
				padding-top: 8px
				width: 60%
			li:nth-child(3) img
				padding-top: 11px
			li:nth-child(4) img
				margin-top: -3px
			li:nth-child(5) img
				padding-top: 34px
				width: 64%
			li:nth-child(3) span
				margin-top: 22px
			li
				display: block
				padding: 0
				position: relative
				overflow: hidden
				//&:after
				//	content: ""
				//	position: absolute
				//	top: 45px
				//	height: 22px
				//	background: url(../img/arow_right.jpg)
				//	right: 0px
				//	width: 22px
				//	background-repeat: no-repeat
				//	z-index: 5
				//	right: 0px
				.imagebox
					height: 120px
					img
						display: block
						margin: 0 auto
				span
					display: block
					margin-top: 25px
					text-align: center
					padding: 0 5px
					margin-left: -10px
					font: 14px "Arial", sans-serif
					font-weight: bold
		
		.proc-desc
			display: block
			margin: 0
			padding: 0
			width: 80%
			margin: 0 auto
			li
				display: block
				margin: 0
				padding: 0 5px
				text-align: center
				span
					display: block
					margin-top: 25px
					text-align: center
					padding: 0 5px
					margin-left: -10px
					font: 14px "Arial", sans-serif
					font-weight: bold
	.price-clean
		width: 80%
		h2
			font: 34px "MuseoRegular", serif 
			height: 51px
			line-height: 51px
			text-align: center
			color: #000000
			font-weight: bolder
			margin-top: 35px
			margin-bottom: 35px
		.price
			.pricer
				width: 100%
				border: 3px solid #f0d36d
				margin-bottom: 20px
				border-top: none
				th,td
					height: 50px
					border: solid 1px #f0d36d
					text-align: center 
				th
					background: #1331c7
					color: #fff
					font: 18px "MuseoRegular", serif
				td
					border: solid 1px #f0d36d
					font: 16px "MuseoRegular", serif
					font-weight: bold
	.we-work
		padding: 0
		background: #1c27a2
		h2
			font: 42px "MuseoRegular", serif
			letter-spacing: 1px
			height: 51px
			line-height: 51px
			text-align: center
			color: #feffff
			font-weight: bold
			margin-bottom: 0
		.we-work-img
			width: 80%
			margin: 0 auto
			.we-work-img-box
				margin-top: 25px
				img
					display: block
					width: 100%
					height: 100%
					border: 16px solid #fff
		.faq
			width: 80%
			margin: 0 auto
			padding-bottom: 40px
			padding-top: 80px
			h2
			ul
				display: block
				padding: 0
				padding-top: 15px
				li
					font: 16px "MuseoRegular", sans-serif
					color: #fff
					display: block
					width: 100%
					background: url("../img/bcg_down.jpg")
					background-size: cover
					height: 38px
					border-radius: 10px
					line-height: 38px
					text-indent: 15px
					margin-top: 15px
					&:after
						content: ""
						float: right
						margin-right: 15px
						background: url(../img/r_arr.png)
						display: block
						width: 20px
						background-size: contain
						height: 20px
						background-repeat: no-repeat
						margin-top: 13px
						cursor: pointer
	.deal
		background: #fff
		padding-bottom: 65px
		.take_a_call
			width: 80%
			margin: 0 auto
			h2
				font: 32px "MuseoSansRegular", serif 
				height: 51px
				line-height: 51px
				text-align: center
				color: #000000
				font-weight: 900
				margin-top: 35px
				margin-bottom: 15px
			h3
				font: 22px "MuseoSansRegular", serif 
				font-weight: 900
				color: #000
				text-align: center
				margin-top: 10px
			.f-box
				background: url("../img/bg1113.png")
				display: block
				height: 100px
				background-size: cover
				position: relative
				input, button
					height: 46px
					top: 27px
					margin: 0 1.66%
					width: 30%
				button
					background: #1c27a2
					border: none
					color: #fff
					font: 15px "MuseoSansRegular", serif
					font-weight: bold
	footer.footer
		.social
			display: block
			padding: 0
			margin: 0
			width: 90px
			margin: 0 auto
			li
				padding: 0
				margin: 0
				display: block
				float: left
				a
					display: block
					background: #f00
					width: 30px
					height: 30px
					float: left
					margin-top: 40px
				.fb
					background: url("../img/fb.png")
					background-size: cover
				.vk
					background: url("../img/vk.png")
					background-size: cover
				.ig
					background: url("../img/in.png")
					background-size: cover
		.phones
			padding-left: 0
			margin-left: -18px
			.tele, .wraper .footer .phones .tele
				margin-left: -14px




@media screen and (max-width: 1220px)
	.wraper
		.what-we-do
			.we-can
				padding-bottom: 25px
			.second-we-can
				margin-top: 0

		.main
			.rec
				background: none
				width: 90%
				left: 5%
				.desc, .tezis
					background: rgba(255,255,255,.6)
					border-radius: 4px
				.tezis
					li
						margin: 15px auto
				.message
					bottom: -10px
					input, button
						margin: 5px auto
						display: inline-block
						margin-left: 30px
		.what-we-do
			.we-can
				//width: 100%
@media screen and (max-width: 1000px)
	.wraper
		.what-we-do
			.second-we-can
				margin-top: 0
			.we-can
				.job
					margin-top: 5px
	.wraper
		.achivments
			.ach-icons
				span
					font-size: 12px
	.wraper
		.main
			.rec
				.message
					bottom: -63px
					input, button
						margin-left: -2px
				.tezis
					li
						font-size: 12px
					li:nth-child(3)
						font-size: 12px
						height: 55px
					li:nth-child(2)
						font-size: 12px
						line-height: 19px
					li:nth-child(1)
						height: 55px
					li:nth-child(4)
						height: 55px
						line-height: 21px
	.wraper .clients .leave-recall
		margin: 0
		width: 100%
	.wraper
		.proff_staff
			h2
				height: auto
			.staffs
				.staff
					margin-top: 20px
					margin-bottom: 30px
					span
						font: 15px "Arial", sans-serif
						color: #fff
						text-align: center
						display: block
						width: 80%
						margin: 0 auto
						margin-top: 15px
@media screen and (max-width: 768px)
	body
		display: none